* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#background {
  background-color: rgba(0, 128, 128, 0.1);
}

.cardHighlight {

  min-height: 100%;
}

/*Overall CSS*/
html {
  scroll-behavior: smooth;
}

.link-text{
    color: black !important;
    box-shadow: none;
  }

.green{
    color: forestgreen;
  }

.red{
    color: indianred;
  }

#basic-nav-dropdown{
  color: black !important;
}

p {
  text-align: justify;
}

#jumbo {
  background-image: url("media/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.navbg {
  background-image: url("media/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}